.has-bg-img {
    background: url("../assets/index-background.jpg") center center;
    background-size: cover;
}

.title, .subtitle {
    color: #fff;
}

.is-horizontal-center {
    justify-content: center;
}

.is-text-center {
    text-align: center;
}